# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Gatsby
.cache/
public/

# Env files (⚠️ keep your keys secret!)
.env
.env.* 

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp
*.swo
